include README.md
include LICENSE
include requirements.txt
include requirements.dev.txt
include requirements.test.txt
include bin/solc
include templates/templates/*/networks.yml
include templates/templates/*/contracts/*
include templates/templates/*/tests/*
include templates/templates/*/deploy/*
