tabulate>=0.8.2
pytest>=3.9.3
attrdict>=2.0.0
# web3 and eth-account versions dictated by py-ethpm
eth-account>=0.2.3,<0.3.0
web3<4.9,>=4.7
pyyaml>=4.2b1
# EthPM stuff.  Had to be removed because because the version that supports
# web3<5 auto-imports web3 infura, which now errors with web3.
ethpm==0.1.4a8
pytest-ethereum==0.1.3a5
#pytest-ethereum==0.1.3a6
eth-abi==1.2.2
# Until web3[tester] can be removed from py-ethpm, we need these
py-geth<3.0.0,>=2.0.1
eth-tester[py-evm]==0.1.0-beta.33
pysha3<2.0.0,>=1.0.0
# Vyper
vyper==0.1.0b9
# If not specified, causes issues for some reason
py-ecc==1.4.7
eth_typing==1.3.0
# Solidity
solidity-parser>=0.0.3
